opencv-python~=4.11.0.86
ffmpeg-python~=0.2.0
numpy~=1.26.4
matplotlib~=3.10.1
open3d~=0.19.0
torch~=2.6.0
scipy~=1.15.2
PyYAML~=6.0.2
gs_sdk~=0.1.0
setuptools~=75.8.0
nanogui~=0.2.0
tqdm~=4.67.1
lightning~=2.5.0.post0
draccus~=0.10.0